<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="styles/styles.css"> <!-- Updated path to consolidated stylesheet -->
</head>
<body class="body">
<header class="header">
    <nav class="nav">
        <ul class="nav-links">
            <!-- Placeholder for navigation links -->
        </ul>
    </nav>
    <div class="header-content">
        <h1 class="header-title">{{ title }}</h1>
        <img src="logo.png" alt="Logo" class="logo"> <!-- Placeholder for logo -->
    </div>
</header>

<main class="main">
    {% block content %}
    {{ content | safe }}
    {% endblock %}
</main>

<footer class="footer">
    <p class="footer-text">&copy; 2024 Jack O'Donnell.</p>
</footer>
    
<script src="/scripts/script.js"></script>    
</body>
</html>
