body {
    background-color: #f9f9f9;
    background-image: url("nisonco-pr-and-seo-40Ji24OuUeQ-unsplash.jpg");
    background-position: center top 40px; /* Adjust the vertical position */
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 50px;
    margin: 0; /* Reset default margin */
}


.nav {
    display: flex;
    justify-content: center;
}

.post-form {
    margin-top: 20px;
}

.post-select {
    font-size: 16px;
    padding: 10px;
}
.main, 
.header {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 30px 20px; /* Increase top and bottom padding */
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.header-title {
    color: #fff;
    margin: 0;
}

.main-content {
    background-color: rgba(0, 0, 0, 0.5); /* Match header background */
    border-radius: 10px;
    padding: 20px;
    color: #fff;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #000;
    text-align: center;
    background-color: transparent;
}

